POSTGRES_DB=hcm_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

APP_ADMIN_USERNAME=admin
APP_ADMIN_INITIAL_PASSWORD=change-this-admin-password
JWT_SECRET=change-this-jwt-secret-with-at-least-32-characters

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
